@media (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for tablets */
  :root {
  --primary-dark: #05061b;
  --primary: orangered;
  --linen: #faf3eb;
  --white: white;
}
.nav_write {
  font-family: sans-serif;
  font-size: small;
}
nav{
    height: 100%;
}

#nav_bar {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 97px;
  /* border-bottom-color: white; */
  background-color: #05061b;
  z-index: 999;
  position: sticky;
}

#nav_left {
  margin-top: -10px;
}

#nav_bar #nav {
  float: right;
  padding-top: 10px;
}

#nav_logo {
  margin: 0px;
  float: left;
  position: absolute;
  width: 50px;
  padding-top: 2%;
}

#nav li {
  list-style: none;
  display: inline-block;
  padding-right: 24px;
}

#nav li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}


#nav li a:hover {
  color: orangered;
}

#logo {
  float: left;
  padding-top: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 50px;
  font-size: large;
  padding-top: 2%;
  color: aliceblue;
}

.OrderBtn {
  border: 1px solid #ff0000;
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 10px;
  margin-right: 40px;
  margin-top: 0;
  padding: 24px 50px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  display: inline-block;
  text-decoration: none;
}

.OrderBtn:hover {
  border-color: var(--white);
  background-color: var(--primary-dark);
  color: var(--linen);
}

}
