

.menuBars{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    max-height: 1080px;
}

#menu_header {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  display: block;
  position: relative;
  color: orangered;
}

