.StoryPart {
  font-family: "WDXL Lubrifont TC", sans-serif;
  height: 85vh;
  margin-top: 2%;
}

.StoryPart:nth-child(odd) .StoryImage {
  width: 50%;
  position: absolute;
  transition: width 1s, border-bottom-left-radius 1s;
}

.StoryPart:nth-child(odd) .StoryImage:hover {
  width: 700px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.StoryPart:nth-child(even) .StoryImage {
  width: 50%;
  margin-left: 52%;
  position: absolute;
  transition: width 1s, border-bottom-left-radius 1s;

}

.StoryPart:nth-child(even) .StoryImage:hover {
  width: 700px;
  border-bottom-left-radius: 23px;
}

.StoryPart:nth-child(odd) .borderBg1 {
  background-color: orangered;
  width: 700px;
  height: 466px;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
  transition: width 1s;
}

.StoryPart:nth-child(even) .borderBg1 {
  background-color: orangered;
  width: 730px;
  margin-left: 47%;
  height: 466px;
  border-bottom-left-radius: 23px;
}

.StoryPart:nth-child(odd) .Story1Content {
  margin-left: 59%;
  margin-top: -30%;
  position: absolute;
}

.StoryPart:nth-child(even) .Story1Content {
  margin-right: 59%;
  margin-top: -30%;
  position: absolute;
}
