.StoryPart {
  font-family: "WDXL Lubrifont TC", sans-serif;

  margin-top: 2%;
}

.StoryImage {
  width: 50%;
  background: orangered;
  position: absolute;
  transition: width 1s, border-bottom-left-radius 1s;
}

.StoryImage:hover {
  width: 700px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.borderBg1 {
  background-color: orangered;
  width: 700px;
  height: 466px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  transition: width 1s;
}

/* .borderBg2 {
  background-color: white;
  width: 600px;
  height: 50px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
} */

.Story1Content {
  margin-left: 59%;
  margin-top: -30%;
  position: absolute;
}
